Mikobot/config.py
Mikobot/*.session
Mikobot/*.session-journal
Mikobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Mikobot/modules/helper_funcs/temp.txt
Mikobot/elevated_users.json
start-3.9.bat
*.session
kangsticker.png
venv
env
Mikobot.session-journal
updates.txt
*.exe
